/* Lab 1 Stylesheet - Joseph Kowalczyk, 2026*/
/* Leaflet Map*/
#map {
    width: 60%; 
    height: 560px;
}

/* Sequence slider */
#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {  
    width: 55%;  
}  

.step {  
    width: 20%;  
}  

.step img {  
    width: 100%;  
}  

#forward {  
    float: right;  
}  

#reverse {  
    float: left;  
}

/* Targets all <p> tags in Leaflet popups. Sets the top and bottom margins to 0.2, and the left and right margins to 0. */
.leaflet-popup-content p { 
    margin: 0.2em 0;
}