/* Lab 1 Stylesheet - Joseph Kowalczyk, 2026*/
/* Leaflet Map*/
#map {
    width: 100%; 
    height: 560px;
    display: inline-block;
}

/* Sequence slider */
.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;
    height: auto;  
}  

#reverse {
    float: left
}

/* Targets all <p> tags in Leaflet popups. Sets the top and bottom margins to 0.2, and the left and right margins to 0. */
.leaflet-popup-content p { 
    margin: 0.2em 0;
}